<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand">

            DigitalHeroes URL Audit

        </a>

        <div>

            <a class="btn btn-outline-light me-2"
               routerLink="/">
                Home
            </a>

            <a class="btn btn-outline-light me-2"
               routerLink="/audit">
                Audit
            </a>

            <a class="btn btn-outline-light"
               routerLink="/history">
                History
            </a>

        </div>

    </div>

</nav>

<div class="container mt-4">

    <router-outlet></router-outlet>

</div>